body {
    background: rgb(30,30,30);
}

.bar {
    width: 25px;
    height: 100px;
    margin: 2px;
    display: inline-block;
    background-color: black;
  }

line {
    stroke: #555 !important;
}

path {
    stroke: #555 !important;
}
